ACTION=="add", SUBSYSTEM=="net", DRIVERS=="?*", ATTR{type}=="1", PROGRAM="/lib/udev/rename_device", RESULT=="?*", NAME="$result"
ACTION=="add", SUBSYSTEM=="net", KERNEL=="eth*", IMPORT{program}="/bin/sleep 1", RUN+="/etc/eni_utils/eni-hotplug"
SUBSYSTEM=="net", RUN+="/etc/eni_utils/net.hotplug"
ACTION=="remove", SUBSYSTEM=="net", KERNEL=="eth*", RUN+="/etc/eni_utils/eni-hotplug"
